<!-- Modal -->
<div id="static-profile-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addStaticProfile" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addStaticProfile">Add Static Profile</h3>
  </div>

  <%= form_tag 'static_profiles', :id => 'static-profile-form', :method => 'post', :remote => true do %>
    <fieldset>
      <div class="modal-body">  
          <%= label_tag(:duration, 'Duration') %>
          <%= text_field_tag :duration, '', :placeholder => 'in minutes' %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %> 
</div>


<div id="form-alert" class="alert alert-error hidden static-profile-form-alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  Use numeric value for duration!
</div>


<div id="form-success" class="alert alert-success hidden static-profile-form-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Success</h4>
  Saved!
</div>