// Place all the styles related to the farm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//vittorio START

.btn-list {
  margin-top: 10px;
}

.btn-group {
  float: right;
}

.btn-group-profile {
  padding-left: 40px;
}

h4 {
  padding-left: 0px;
  color: #999999;
}

.sandbox {
  padding: 0px 15px 0px 15px;
  border-radius: 12px;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: double;

  .btn-low {
    margin-top: 5px;
  }
  h3 {
    padding-left: 0px;
    margin: 20px 20px 20px 0px;
  }

  h5 {
    padding-left: 0px;
    line-height: 32px;
  }
}

.new-profile-btn {
  margin-top: -10px;
}

.sign-out {
  float: right;
}

.bigmenu {
  width: 230px;
}

.edge_processor_type {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.dropdown-save {
  float: right;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px !important;
}

.map {
  height: 1000px;
  border: none;
}

.divider-hack {
  width: 100%;
}

.url-box {
  margin-left: 20px;
  margin-right: 20px;
  input{
    width: 175px;
  }
}

//vittorio END

.add-static-profile-button {
  margin-left: 50px;
}

.static-profile-form-alert {
  margin-left: 10px;
  margin-right: 10px;
}

.accordion-toggle {
  &:hover {
    text-decoration: none;
  }  
}

.static-profile-action {
  float: right;
  margin-left: 5px;
}

#add-group-button {
  margin-bottom: 10px;
}

.delete-agent-group-button {
  float: right;
}

.modal h3 {
  margin: 20px;
}